
body {
  margin: 0;
  background-color:blanchedalmond;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  flex-shrink:2;
  flex-grow:0;
}


.gallery {
  display: flex;
  flex-direction: row;
  flex-basis: 3 1 200px;
  gap: 20px;
  justify-content:space-around;
  height: calc(100vh-100px);
  overflow-y: scroll;
  overflow-x: scroll;
  flex-shrink:2;
  flex-grow:0;
}

.column {
  display:flex;
  flex-direction:column;
  justify-content: space-evenly;
  gap: 30px;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  border: solid;
  border-color: gray;
  border-width: 5px;
  width: 30vh;
  height: 15vh;
  font-family: 'Franklin Gothic Medium', 'Arial', Arial, sans-serif, monospace;
  font-size: 20px;
}
.item:hover{
  background-color: lightblue;
}
.item:active{
  background-color: whitesmoke;
}

#tim{
  border-radius: 40px;
}

#start{
  color: white;
  background-color: darkgray;
  border-radius: 40px;
  border-color: lightgray;
}

#header{
  font-family: Arial, Helvetica, sans-serif;
}