li {
    background-color: antiquewhite;
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
}

#title {
    padding: 10px;
    font-weight: 800;display: block;
    color: purple;
}

body {
    background-color: aquamarine;
}