.Title {
    color: purple
}

#Description {
    margin: 20px;
    border-color: black;
}

li {
    color: green;
    padding: 5px;
    font-weight: 300;display: block
}

body {
    background-color: aquamarine;
}

.Ingredient-1, .Ingredient-2, .Ingredient-3, .Ingredient-4, .Ingredient-5, .Ingredient-6, .Ingredient-7, .Ingredient-8, .Ingredient-9, .Ingredient-10, .Ingredient-11 {
    background-color:beige;
}

ul {
    border:solid;
    border-width:4px;
}