.Ingredient-1, .Ingredient-5, .Ingredient-9 {
    background-color: #21d021
}

.Ingredient-2, .Ingredient-6 {
    background-color: aqua
}

#Ingredient-3, .Ingredient-7 {
    background-color: bisque
}

#Ingredient-4, .Ingredient-8 {
    background-color: #c48132
}

#Ingredients {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#Steps {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

div {
    height: fit-content;display: block;
    width: max-content;
    margin: 20px;
}

body {
    background-color: aquamarine;
}

.Title {
    color: purple;
}
